- var items = [{"index":"01","name":"Фитнес","image":"images/slide1.png","text":["Центр спорта и здоровья Savoy Wellness располагает всем необходимым для поддержания гармоничной физической формы. Вашему вниманию предлагается более 10 видов авторских групповых тренировок и возможность индивидуальных занятий с тренером. ","Кроме того, мы приглашаем вас в фитнес-зал премиального уровня с тренажёрами последнего поколения Precor и Hoist с возможностью персонализации, выходом в интернет и технологией Run TV."],"progress":100},{"index":"02","name":"Диагностика","image":"images/slide2.png","text":["Велнес-философия клубов Savoy начинается с бережного внимания к вашему здоровью. Поэтому мы предлагаем вам перед занятиями пройти фитнес-диагностику вашего метаболизма, мышечной силы и опорно-двигательного аппарата с помощью европейского оборудования класса люкс. ","Опираясь на её результаты, ваш персональный тренер сможет составить для вас программу тренировок, соответствующую вашим потребностям, а также предоставить вам рекомендации по питанию."],"progress":0},{"index":"03","name":"Релакс","image":"images/slide3.png","text":["Велнес — это сочетание душевной и телесной гармонии. Центр спорта и здоровья Savoy Wellness заботится о том, чтобы вы могли глубоко полноценного отдохнуть и восстановить силы после тяжелого дня. ","Джакузи и банный комплекс с финской сауной, хамамом и русскими парениями позволит вам расслабиться, освободиться от дискомфорта и боли в мышцах и ощутить душевное спокойствие, а соляная комната поможет поддержать иммунитет и избавиться от стрессовых переживаний."],"progress":0},{"index":"04","name":"Красота","image":"images/slide4.png","text":["Специалисты Центра спорта и здоровья Savoy Wellness будут рады позаботиться о вашей красоте и продлить молодость вашей кожи. На ваш выбор предлагается широкий ассортимент классических и инновационных косметических процедур.","Массажи по методике разных стран, гидромассаж, пилинги и обёртывания, классические и авторские маски и множество видов ухода — совместно с мастером вы сможете выбрать процедуру, которая идеально подойдёт под ваши пожелания."],"progress":0},{"index":"05","name":"Гармония","image":"images/slide5.png","text":["Центр спорта и здоровья Savoy Wellness станет для вас зоной тишины, релаксации и спокойствия в центре Москвы. Здесь вы можете отдохнуть от шума и суеты мегаполиса и обрести контакт с собой и своими желаниями. ","Вне зависимости от того, какой способ расслабляться предпочитаете вы — активный отдых в спортзале, плавание, йогу и медитацию или гидропроцедуры — мы позаботимся, чтобы вы были окружены заботой, вниманием и премиальным уровнем сервиса."],"progress":0}];
//- - var items = [
//-     {
//-         index: '01',
//-         name: 'Фитнес',
//-         image: 'images/slide1.png',
//-         text: [
//-             'Центр спорта и здоровья Savoy Wellness располагает всем необходимым для поддержания гармоничной физической формы. Вашему вниманию предлагается более 10 видов авторских групповых тренировок и возможность индивидуальных занятий с тренером. ',
//-             'Кроме того, мы приглашаем вас в фитнес-зал премиального уровня с тренажёрами последнего поколения Precor и Hoist с возможностью персонализации, выходом в интернет и технологией Run TV.',
//-         ],
//-         progress: 100,
//-     },
//-     {
//-         index: '02',
//-         name: 'Диагностика',
//-         image: 'images/slide2.png',
//-         text: [
//-             'Велнес-философия клубов Savoy начинается с бережного внимания к вашему здоровью. Поэтому мы предлагаем вам перед занятиями пройти фитнес-диагностику вашего метаболизма, мышечной силы и опорно-двигательного аппарата с помощью европейского оборудования класса люкс. ',
//-             'Опираясь на её результаты, ваш персональный тренер сможет составить для вас программу тренировок, соответствующую вашим потребностям, а также предоставить вам рекомендации по питанию.',
//-         ],
//-         progress: 0,
//-     },
//-     {
//-         index: '03',
//-         name: 'Релакс',
//-         image: 'images/slide3.png',
//-         text: [
//-             'Велнес — это сочетание душевной и телесной гармонии. Центр спорта и здоровья Savoy Wellness заботится о том, чтобы вы могли глубоко полноценного отдохнуть и восстановить силы после тяжелого дня. ',
//-             'Джакузи и банный комплекс с финской сауной, хамамом и русскими парениями позволит вам расслабиться, освободиться от дискомфорта и боли в мышцах и ощутить душевное спокойствие, а соляная комната поможет поддержать иммунитет и избавиться от стрессовых переживаний.',
//-         ],
//-         progress: 0,
//-     },
//-     {
//-         index: '04',
//-         name: 'Красота',
//-         image: 'images/slide4.png',
//-         text: [
//-             'Специалисты Центра спорта и здоровья Savoy Wellness будут рады позаботиться о вашей красоте и продлить молодость вашей кожи. На ваш выбор предлагается широкий ассортимент классических и инновационных косметических процедур.',
//-             'Массажи по методике разных стран, гидромассаж, пилинги и обёртывания, классические и авторские маски и множество видов ухода — совместно с мастером вы сможете выбрать процедуру, которая идеально подойдёт под ваши пожелания.',
//-         ],
//-         progress: 0,
//-     },
//-     {
//-         index: '05',
//-         name: 'Гармония',
//-         image: 'images/slide5.png',
//-         text: [
//-             'Центр спорта и здоровья Savoy Wellness станет для вас зоной тишины, релаксации и спокойствия в центре Москвы. Здесь вы можете отдохнуть от шума и суеты мегаполиса и обрести контакт с собой и своими желаниями. ',
//-             'Вне зависимости от того, какой способ расслабляться предпочитаете вы — активный отдых в спортзале, плавание, йогу и медитацию или гидропроцедуры — мы позаботимся, чтобы вы были окружены заботой, вниманием и премиальным уровнем сервиса.',
//-         ],
//-         progress: 0,
//-     },
//- ];
.cs_slider(style=`--count:${items.length};`)
    .container
        .cs_slider_progress.d-block.d-sm-none_
            .progress(style=`--value_:20`)
        .cs_slider_navigation.fw-600.ff-playfair.fs-20.mt-3.mb-4
            .d-flex.flex-column.g-2.flex-sm-row.g-sm-0
                each item in items
                    .cs_slider_navitem
                        .cs_slider_itemprogress.d-none.d-sm-block_.mb-sm-3
                            .progress(style=`--value:${item.progress}`)
                        .cs_slider_navname.d-flex.justify-space-between.justify-sm-center.flex-sm-row-reverse.g-sm-1.align-items-end
                            span=item.name
                            span.fs-10.lh-24_=`(${item.index})`
        .cs_slider_bodies
            each item in items
                .row.flex-md-row-reverse.align_items-center.mb-10
                    .col-3.col-sm-4.col-md-2.col-lg-4
                        .cs_slider_picture.br-16
                            img(src=item.image, alt=item.name)
                    .col-3.col-sm-4.col-md-2.col-lg-3
                        .cs_slider_content.bg-white
                            .cs_slider_title.fw-600.fs-32.fs-sm-40.ff-playfair.header_hidden_top=item.name
                            each p in item.text
                                p=p
        .cs_slider_carousel.d-none
            .row.flex-md-row-reverse.align_items-center.mb-10
                .col-3.col-sm-4.col-md-2.col-lg-4.cs_slider_pictures
                .col-3.col-sm-4.col-md-2.col-lg-3.cs_slider_contents